:root {
 	--colors-blue: #0080ff;
 	--colors-blue-lighter: #cce6ff;
 	--colors-chart-red: #fc461e;
 	--colors-green: #00c489;
 	--colors-green-lighter: #ccf3e7;
 	--colors-grey: #afafaf;
 	--colors-grey-accessible: #757575;
 	--colors-grey-dark: #999999;
 	--colors-grey-darker: #686868;
 	--colors-grey-darkest: #585858;
 	--colors-grey-light: #d6d9db;
 	--colors-grey-lighter: #eaeaea;
 	--colors-grey-lightest: #edeeef;
 	--colors-link-text: #008299;
 	--colors-link-text-hover: #35c1e4;
 	--colors-off-white: #f7f7f8;
 	--colors-primary: #02303a;
 	--colors-red: #DC4A2D;
 	--colors-red-lighter: #fcedeb;
 	--colors-secondary: #3cafc6;
 	--colors-secondary-light: #8acfdc;
 	--colors-secondary-lighter: #b1dfe8;
 	--colors-secondary-lightest: #d8eff3;
 	--colors-skipped: #6040dd;
 	--colors-success: #19aa5d;
 	--colors-white: #ffffff;
 	--font-family-brand: Lato;
 	--font-family-monospace-0: Inconsolata;
 	--font-family-monospace-1: Monaco;
 	--font-family-monospace-2: Courier New;
 	--font-family-monospace-3: monospace;
 	--fontWeight-bold: 500;
 	--fontWeight-light: 300;
 	--fontWeight-normal: 400;
 	--radius-large: 8px;
 	--radius-small: 3px;
 	--spacing-0: 0px;
 	--spacing-1: 4px;
 	--spacing-10: 40px;
 	--spacing-2: 8px;
 	--spacing-3: 12px;
 	--spacing-4: 16px;
 	--spacing-6: 24px;
 	--spacing-8: 32px;
}
